<app-header text="Color palette generator"></app-header>
<div class="flex">
  <app-option-color></app-option-color>
  <app-option-color></app-option-color>
  <app-option-color></app-option-color>
  <app-option-color></app-option-color>
  <app-option-color></app-option-color>
</div>
<div class="flex justify-center mt-10">
  <app-button-generate></app-button-generate>
</div>
<p class="text-center text-xs font-medium mt-5">Or just press the "Spacebar" to generate new palettes.</p>
<div class="flex justify-center mt-14">
  <p class="bg-white w-fit text-center text-xs border-2 rounded-full px-3 py-2">Click to copy individual color | Press "C" to copy palette</p>
</div>